$jsass-void: null !important;

$font-size: 18pt;
$brick-weight: 300px;
$yt-brick-weight: 360px;
$frame-padding: 10px;
$border-width: 4px;

$ogrodje-zagon-blue: #0404a4;
$ogrodje-main-white: #FFFFFF;
$ogrodje-borderless-green: #0ed18b;
$line-color: $ogrodje-main-white;

* {
  box-sizing: border-box;
}


html, body {
  font-size: $font-size;
  line-height: $font-size * 1.2;
  font-family: Iosevka, "Iosevka", sans-serif;
  color: white;

  /* background-color: black; */

  &.yt {
    margin: 0;
    padding: 0;
  }
}

.container-x {
  border: $border-width solid $line-color;
  width: $brick-weight * 4 + $border-width;
  overflow: hidden;
  border-right: none;

  &.yt {
    display: block;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    border: none;
    background-color: black;
    padding: 80px;
  }

  &.podcast {
    width: 1000px;
    height: 1000px;
    padding: 80px; // ex 50

    .col.left {
      display: none;
    }

    .col {
      width: 100%;
      position: relative;

      .center-logo {
        position: absolute;
        z-index: 44;
        left: 10px;
        right: 0;

        img {
          width: 160px;
        }
      }
    }

    $pp-box: 416px;

    .people .box {
      width: $pp-box;
      height: $pp-box;

      &:nth-child(1),
      &:nth-child(3) {
        border-left: none;
      }

      &:empty:after {
        width: $pp-box * 1.412;
      }

      .fullName {
        font-size: $font-size * 2.0;
        line-height: $font-size * 2.2;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .frame {
        width: $pp-box;
        height: $pp-box;

        img {
          width: $pp-box;
          height: $pp-box;
        }
      }
    }
  }

  &.with-bg-image {
    background-position: 50% 50%;
  }
}

.row {
  width: 100%;
  position: relative;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  display: table;

  .col {
    width: 49%;
    display: table-cell;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;

    .master {
      position: relative;
      display: block;
      height: $brick-weight * 2;

      .logo {
        width: 300px;
        padding: 0 40px 40px;

        img {
          width: 200px;
        }
      }

      .title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: inline-block;
        font-weight: bold;
        font-size: $font-size * 1.8;
        line-height: $font-size * 2.3;
        padding: 40px;
      }
    }
  }
}

.people {
  position: relative;
  display: block;
  clear: both;
  float: none;

  .box {
    position: relative;
    width: $brick-weight;
    height: $brick-weight;
    float: left;
    border: $border-width solid $line-color;
    border-bottom: none;
    overflow: hidden;

    &:nth-child(1),
    &:nth-child(2) {
      border-top: none;
    }

    &:nth-child(2),
    &:nth-child(4) {
      border-left: none;
    }

    &:empty:after {
      position: absolute;
      content: "";
      quotes: none;
      width: $brick-weight * 1.412;
      border: none;
      border-bottom: $border-width solid $line-color;

      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform-origin: left;
      -webkit-transform-origin: left;
    }

    .fullName {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      background-color: $line-color;
      background-color: #e92639 !important; // TODO: Change this.
      // background-color: $line-color !important;

      padding: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: $font-size;
    }

    .frame {
      display: block;
      position: relative;
      width: $brick-weight;
      height: $border-width;

      img {
        display: block;
        position: relative;
        width: $brick-weight + 2px;
        height: $brick-weight + 2px;
        object-position: center center;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
}


.yt {
  .row {
    border: 4px solid $line-color;

    .col {
      &.left {
      }

      &.right {
      }

      .master {
        height: 560px - 8px;

        .logo {

          img {
            width: 250px;
          }
        }

        .title {
          font-size: $font-size * 2.2;
          line-height: $font-size * 2.5;
          padding: 45px 45px 60px;
        }
      }

    }
  }

  $wh: 278px;

  .people {
    .box {
      width: $wh;
      height: $wh;

      &:nth-child(2),
      &:nth-child(4) {
        border-right: none;
      }

      &:empty:after {
        width: $wh * 1.412;
      }

      .fullName {

        /*
        // font-size: $font-size * 1.3;
        font-size: 31pt ! important;
        font-size: 34pt ! important;

        // line-height: $font-size * 1.2;
        padding-right: 4px;
        padding-left: 4px;

        padding-top: 5px !important;
        padding-bottom: 4px !important;

         */

        font-size: 34pt ! important;
        font-size: 32pt ! important;

        line-height: $font-size * 1.4;
        padding-top: 6px;
        padding-bottom: 6px;
      }

      .frame {
        width: $wh;
        height: $wh;

        img {
          width: $wh + 2px;
          height: $wh + 2px;
        }
      }
    }
  }
}

/*
.people .box .fullName {
  background-color: deeppink !important;
}

.people .box,
.yt .row,
.people .box:empty:after {
  border-color: deeppink;
}
*/
