{{> head }}

<div class="episodes">
    <ul>
        {{#episodes}}
            <li class="episode">
                <div class="title">
                    <a href="/episode/{{code}}">
                        <span class="code tag">{{code}}</span>
                        <span class="name">{{name}}</span></a>
                </div>
                <div>
                    <span class="airedAt">{{airedAt}}</span>
                    <div class="topics">{{#topics}}<span class="topic">{{name}}</span>{{/topics}}</div>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="/podcast-thumbnail/{{code}}">🎧 <code>podcast-thumbnail</code></a></li>
                        <li><a href="/episode-yt-avatar/{{code}}">📺 <code>episode-yt-avatar</code></a></li>
                        <li><a href="/episode-video-2/{{code}}">📺 <code>episode-video-2</code></a></li>
                        <li><a href="/episode-video/{{code}}">📺 <code>episode-video</code></a></li>
                        <li><a href="/episode/{{code}}">Details (page)</a></li>
                    </ul>
                </div>
            </li>
        {{/episodes}}
    </ul>
</div>
{{> footer }}
